.ui-surface {
  border: 1px solid var(--ui-surface-border-color);
  border-radius: var(--ui-surface-radius);
  background-color: var(--ui-surface-background);
  box-shadow: var(--ui-surface-shadow);
}
